/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../www/font/josefinsans/v16/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
	font-family: 'Sans';
    background-color: #1d1a17;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Josefin Sans';
	color: #d0c2a4;
}

.table {
	display: grid;
}
.table .thead,
.table .tbody,
.table .tr {
	display: contents;
}
.table .th,
.table .td {
	display: block;
	align-self: center;
}
.table .th.ellipsis,
.table .td.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table .col2 {
	grid-column-end: span 2;
}
.table .col3 {
	grid-column-end: span 3;
}
.table .col4 {
	grid-column-end: span 4;
}
.table .col5 {
	grid-column-end: span 5;
}
.table .col6 {
	grid-column-end: span 6;
}
.table .row2 {
	grid-row-end: span 2;
}
.table .row3 {
	grid-row-end: span 3;
}
.table .row4 {
	grid-row-end: span 4;
}
.table .row4 {
	grid-row-end: span 4;
}
.table .row4 {
	grid-row-end: span 4;
}

.table.padded .th,
.table.padded .td {
	padding: 2px 5px;
}

.table.border .th,
.table.border .td {
	border-top: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
}
.table.border .tr > *:first-child {
	border-left: 0;
}
.table.border .tr:first-child > * {
	border-top: 0;
}
.table.border .thead .tr:last-child > * {
	border-bottom: 1px solid var(--border-color);
}
.table.block {
	width: 100%;
}

.table.list {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	margin-top: 20px;
	grid-row-gap: 1px;
	background-color: var(--border-color);
	max-width: 1000px;
}

.table.list .th, .table.list .td {
	text-align: left;
	display: block;
	white-space: nowrap;
	padding: 4px 8px;
	background-color: var(--item-background, #fff);
	height: 100%;
}
.table.list .td {
	overflow: hidden;
	text-overflow: ellipsis;
}
.table.list .tbody tr:first-child .td {
	padding-top: 6px;
}
.table.list .th {
	background-color: var(--top-bg);
}
.table.list .tbody .tr:hover .td {
	background-color: var(--bg);
	cursor: pointer;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000c;
	color: #fff;
	display: none;
    justify-content: center;
    align-content: center;
}

#overlay > div {
    background-color: #ccc;
	color: #333;
    padding: 20px 30px;
    border-radius: 10px;
}

#banner {
	background-color: #c00;
	text-align: center;
	color: #fff;
	padding-top: 5px;
	display: none;
}

#framework {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 80px auto;
}

html.banner #banner {
	display: block;
}
html.banner #framework {
	grid-template-rows: 30px 80px auto;
}

main {
	background-color: #131313;
	color: #ccc;
	padding-bottom: 50px;
}
main > div {
	max-width: 600px;
	margin: auto;
	padding-top: 20px;
}

header h1 {
	padding-top: 30px;
	text-shadow: unset;
	background: linear-gradient(to bottom, rgb(255, 213, 127) 33% ,rgb(179, 149, 0) 66%, rgb(179, 149, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

button {
	background-color: #daac57;
	border: 1px solid #000a;
	color: #000;
	font-size: 1rem;
	padding: 4px 10px 2px 10px;
	margin: 8px 0;
	border-radius: 3px;
}
input {
	background-color: #d0c2a4;
	border: 1px solid #000a;
	color: #000;
	font-size: 1rem;
	padding: 4px 10px 2px 10px;
}
input:-webkit-autofill {
	background-color: #e2b96e;
	border: 1px solid #000a;
	color: #fff;
	font-size: 1rem;
	padding: 4px 10px 2px 10px;
	-webkit-text-fill-color: #000;
	box-shadow: 0 0 0px 1000px #e2b96e inset;
}

svg {
	width: 20px;
	height: 20px;
}

#backupstable {
	grid-template-columns: 1fr auto;
	grid-gap: 10px;
}
