.gameicon {
	height: 32px;
	width: 32px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.gameicon[data-size="big"] {
	height: 64px;
	width: 64px;
}

.gameicon.hammer {
	background: url(../gfx/wurm/tools.png) -64px -32px;
	background-size: 640px 384px;
}
.gameicon.hammer[data-size="big"] {
	background: url(../gfx/wurm/tools.png) -128px -64px;
	background-size: 1280px 768px;
}

.gameicon.chisel {
	background: url(../gfx/wurm/tools.png) 0px -32px;
	background-size: 640px 384px;
}
.gameicon.chisel[data-size="big"] {
	background: url(../gfx/wurm/tools.png) 0px -64px;
	background-size: 1280px 768px;
}

.gameicon.carving-knife {
	background: url(../gfx/wurm/tools.png) 0px -32px;
	background-size: 640px 384px;
}
.gameicon.carving-knife[data-size="big"] {
	background: url(../gfx/wurm/tools.png) 0px -64px;
	background-size: 1280px 768px;
}

.gameicon.file {
	background: url(../gfx/wurm/tools.png) -288px -32px;
	background-size: 640px 384px;
}
.gameicon.file[data-size="big"] {
	background: url(../gfx/wurm/tools.png) -576px -64px;
	background-size: 1280px 768px;
}

.gameicon.mallet {
	background: url(../gfx/wurm/tools.png) -32px -32px;
	background-size: 640px 384px;
}
.gameicon.mallet[data-size="big"] {
	background: url(../gfx/wurm/tools.png) -64px -64px;
	background-size: 1280px 768px;
}

.gameicon.pelt {
	background: url(../gfx/wurm/resource.png) -64px -192px;
	background-size: 640px 384px;
}
.gameicon.pelt[data-size="big"] {
	background: url(../gfx/wurm/resource.png) -128px -384px;
	background-size: 1280px 768px;
}

.gameicon.log {
	background: url(../gfx/wurm/resource.png) -192px -192px;
	background-size: 640px 384px;
}
.gameicon.log[data-size="big"] {
	background: url(../gfx/wurm/resource.png) -384px -384px;
	background-size: 1280px 768px;
}

.gameicon.stone-shards {
	background: url(../gfx/wurm/resource.png) -320px -192px;
	background-size: 640px 384px;
}
.gameicon.stone-shards[data-size="big"] {
	background: url(../gfx/wurm/resource.png) -640px -384px;
	background-size: 1280px 768px;
}

.itemname:first-letter {
	text-transform: capitalize;
}
