.gameicon {
	height: 32px;
	width: 32px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.gameicon.big {
	height: 64px;
	width: 64px;
}

.gameicon.hammer {
	background: url(../gfx/wurm/tools.png) -64px -32px;
	background-size: 640px 384px;
}
.gameicon.big.hammer {
	background: url(../gfx/wurm/tools.png) -128px -64px;
	background-size: 1280px 768px;
}

.gameicon.chisel {
	background: url(../gfx/wurm/tools.png) 0px -32px;
	background-size: 640px 384px;
}
.gameicon.big.chisel {
	background: url(../gfx/wurm/tools.png) 0px -64px;
	background-size: 1280px 768px;
}

.gameicon.carving-knife {
	background: url(../gfx/wurm/tools.png) 0px -32px;
	background-size: 640px 384px;
}
.gameicon.big.carving-knife {
	background: url(../gfx/wurm/tools.png) 0px -64px;
	background-size: 1280px 768px;
}

.gameicon.file {
	background: url(../gfx/wurm/tools.png) -288px -32px;
	background-size: 640px 384px;
}
.gameicon.big.file {
	background: url(../gfx/wurm/tools.png) -576px -64px;
	background-size: 1280px 768px;
}

.gameicon.mallet {
	background: url(../gfx/wurm/tools.png) -32px -32px;
	background-size: 640px 384px;
}
.gameicon.big.mallet {
	background: url(../gfx/wurm/tools.png) -64px -64px;
	background-size: 1280px 768px;
}

.gameicon.pelt {
	background: url(../gfx/wurm/resource.png) -64px -192px;
	background-size: 640px 384px;
}
.gameicon.big.pelt {
	background: url(../gfx/wurm/resource.png) -128px -384px;
	background-size: 1280px 768px;
}

.gameicon.log {
	background: url(../gfx/wurm/resource.png) -192px -192px;
	background-size: 640px 384px;
}
.gameicon.big.log {
	background: url(../gfx/wurm/resource.png) -384px -384px;
	background-size: 1280px 768px;
}

.gameicon.stone-shards {
	background: url(../gfx/wurm/resource.png) -320px -192px;
	background-size: 640px 384px;
}
.gameicon.big.stone-shards {
	background: url(../gfx/wurm/resource.png) -640px -384px;
	background-size: 1280px 768px;
}

.itemname:first-letter {
	text-transform: capitalize;
}
